{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home{% endblock %}

{% block content %}

<div class="container-fluid">

    <!--Gallery Links-->
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-11">
            <h3 class="py-4">
                our collections
            </h3>
            <p>got something particular in mind?
                <br>
                our collections filter will help you find whatever it is you're searching for
            </p>
        </div>
        <div class="col-12 col-md-11 col-lg-6">
            <div class="index-mobile-header d-block d-xl-none">
                <div class="">
                    <h2 class="">
                        still life
                    </h2>
                </div>
            </div>
            <a href="{% url 'still_life' %}">
                <div class="index-collection-bg"
                    style="background-image: url({% static 'images/still_lifebg.jpeg' %});">
                    <div class="bg-overlay">
                        <h2 class="index-collection-header">
                            still life
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-11 col-lg-5 index-collection-bg index-mid-collection">
            <div class="index-mobile-header d-block d-xl-none">
                <div class="">
                    <h2 class="">
                        adventure
                    </h2>
                </div>
            </div>
            <a href="{% url 'adventure' %}">
                <div class="index-collection-bg" style="background-image: url({% static 'images/adventurebg.jpeg' %});">
                    <div class="bg-overlay">
                        <h2 class="index-collection-header">
                            adventure
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-11 col-lg-5 index-collection-bg index-mid-collection">
            <div class="index-mobile-header d-block d-xl-none">
                <div class="">
                    <h2 class="">
                        nature
                    </h2>
                </div>
            </div>
            <a href="{% url 'nature' %}">
                <div class="index-collection-bg" style="background-image: url({% static 'images/naturebg.jpeg' %});">
                    <div class="bg-overlay">
                        <h2 class="index-collection-header">
                            nature
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-11 col-lg-6 index-collection-bg">
            <div class="index-mobile-header d-block d-xl-none">
                <div class="">
                    <h2 class="">
                        ireland
                    </h2>
                </div>
            </div>
            <a href="{% url 'irish' %}">
                <div class="index-collection-bg" style="background-image: url({% static 'images/irelandbg.jpeg' %});">
                    <div class="bg-overlay">
                        <h2 class="index-collection-header">
                            ireland
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}