@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/* generic elements and classes */

body {
    background-color: #fafafa;
    font-family: 'Architects Daughter', cursive;
    text-transform: lowercase;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

button > a {
    color: black;
    font-size: 1.5em;
}

button > a:hover {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

.section-spacing {
    min-height: 5em;
}

/* base.html */

.navbar-brand {
    font-family: 'Chelsea Market', cursive;
    font-size: 3em;
}

.nav-padding {
    padding: 5px;
}

/* index.html */

.index-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
}

.index-heading-wrapper {
    margin: 20vh 0 0 2vh;
    color: #fafafa;
}

.index-section {
    background-color: rgba(186, 191, 36, 0.5);
    padding: 20px 0;
}

.index-collection-bg {
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1em 0;
}

.index-mid-collection {
    margin: 1em;
}

.bg-overlay {
    display: none;
    background-color: rgba(255, 255, 255, 0.8) ;
    height: 50vh;
}

.index-collection-header {
    padding-top: 3em;
    color: rgb(43, 43, 43);
}

div:hover > .bg-overlay{
    display: block;
}


/* profile.html */

.profile-page {
    margin-top: 3em;
}