@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/* generic elements and classes */

body {
    background-color: #fcfcfc;
    font-family: 'Architects Daughter', cursive;
    text-transform: lowercase !important;
}

h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 2em;
}

button > a {
    color: black;
    font-size: 1.5em;
}

button > a:hover {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

.section-spacing {
    min-height: 5em;
}

/* base.html */

.navbar-brand {
    font-size: 3em;
}

.nav-padding {
    padding: 5px;
}

.dropdown-menu {
    border-radius: 10px;
}

.navbar {
    font-size: 1.25em;
}

.btn-outline-success {
    border-color: rgba(186, 191, 36);
    color: rgba(186, 191, 36);
}

/* index.html */

.index-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40em;
}

.index-heading-wrapper {
    margin: 12em 0 0 1em;
    color: #fafafa;
}

.index-section {
    background-color: rgba(186, 191, 36, 0.5);
    padding: 20px 0;
}

.index-collection-bg {
    min-height: 30em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1em 0;
}

.index-mid-collection {
    margin: 1em;
}

.bg-overlay {
    display: none;
    background-color: rgba(255, 255, 255, 0.8) ;
    height: 30em;
}

.index-collection-header {
    padding-top: 3em;
    color: rgb(43, 43, 43);
}

div:hover > .bg-overlay{
    display: block;
}

/* product.html */

.product-title {
    font-size: 2.5em;
    margin-top: 1em
}

.product-para {
    font-size: 1.5em;
    margin: 0;
}

.product-wrap {
    margin: 1em;
    padding: 0.5em 0;
    border: solid black 1px;
    border-radius: 15px;
    background-color: white;
}

.btn-success {
    background-color: rgb(186, 191, 36);
    border-color: rgb(186, 191, 36);
}

/* cart.html */

.quantity-control {
    font-size: 1.5em;
}

.cart-wrap {
    padding: 0.5em;
    border: solid black 1px;
    border-radius: 15px;
    background-color: white;
}

/* checkout.html */

legend {
    font-size: 2em;
}

/* profile.html */

.profile-page {
    margin-top: 3em;
}

/* media queries */

