{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %} About {% endblock %}

{% block content %}

<div class="about-us-bg">
    <div class="container-fluid">
        <div class="section-spacing"></div>
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-5 col-lg-3 text-center">
                <img class="about-us-image" src="{% static 'images/about-zac.jpeg' %}" alt="about-us-image" width="100%">
            </div>
            <div class="col-11 col-md-9 col-lg-8 mt-5 mt-lg-0 text-center text-lg-left about-us-para">
                <h3>
                    Zac Allen
                </h3>
                <p>
                    Founder / Photographer
                </p>
                <p>
                    Zac started photography when he was 10 years old, and 11 years later decided to found Shutter.
                    He previously worked in the Merchant Navy for 5 years on Oil and Gas Carriers, and came home to reskill
                    as a
                    Software Developer, during his time as a Developer, he founded and created Shutter. Zac has big plans
                    for Shutter,
                    and hopes to grow it over the next few years.
                </p>
            </div>
            <div class="col-12">
                <div class="section-spacing"></div>
            </div>
            <div class="col-11 col-md-9 col-lg-8 mt-5 mt-lg-0 text-center text-lg-left order-2 order-lg-1 about-us-para">
                <h3>
                    Aoife Higgins
                </h3>
                <p>
                    Office Manager / Organisation Extrodinaire
                </p>
                <p>
                    aoife keeps the whole show going with her organisation skills. she takes bookings for events, prints and
                    frames the photos, organises the shipping and on top of that, deals with all office related issues(Zac)
                </p>
            </div>
            <div class="col-10 col-md-5 col-lg-3 text-center order-1 order-lg-2">
                <img class="about-us-image" src="{% static 'images/about-aoife.jpeg' %}" alt="about-us-image" width="100%">
            </div>
        </div>
        <div class="section-spacing"></div>
    </div>
</div>



{% endblock %}