{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %} Careers {% endblock %}

{% block content %}
<div class="careers-bg">
    <div class="container-fluid job-openings">
        <div class="section-spacing"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <img class="hiring-img" src="{% static 'images/hiring.jpg' %}" width="100%" alt="hiringphotos">
            </div>
            <div class="col-12 col-lg-8">
                <p class="careers-para text-center text-md-left">
                    We're always looking to add new talent to the team, and welcome people from all walks of life.
                    If you think you're a good match for any of the jobs below, please make sure to apply and we'll get
                    back to you ASAP!
                </p>
            </div>
        </div>
        <div class="section-spacing"></div>
        <div class="row justify-content-center">
            <div class="col-12">
                <h3>
                    Current Openings
                </h3>
            </div>
            <div class="section-spacing"></div>
            {% for job in current_jobs %}
            <div class="col-11 col-md-8 col-xl-6 career-info-wrap">
                <h3 class="careers-heading">
                    {{job.job_title}}
                </h3>
                <p class="careers-para">
                    {{ job.description }}
                </p>
                <p class="careers-para">Closing Date: {{ job.closing_date }}</p>

                <button class="btn btn-success">
                    <a href="{% url 'apply' %}">Apply</a>
                </button>
            </div>
            {% endfor %}
        </div>
        <div class="section-spacing"></div>
    </div>
</div>
{% endblock %}