<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Shutter" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shutter | {% block page_title %}{% endblock %}</title>
</head>

<body>
    
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Shutter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="nav navbar-nav navbar-right">
                    <!--Dropdown for Shop-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            shop
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-padding" href="{% url 'products' %}">all products</a>
                            <a class="dropdown-item nav-padding" href="{% url 'adventure' %}">adventure</a>
                            <a class="dropdown-item nav-padding" href="{% url 'still_life' %}">still life</a>
                            <a class="dropdown-item nav-padding" href="{% url 'nature' %}">nature</a>
                            <a class="dropdown-item nav-padding" href="{% url 'irish' %}">irish</a>
                        </div>
                    </li>
                    <!--Dropdown for About-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            about
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-padding" href="{% url 'about' %}">about us</a>
                            <a class="dropdown-item nav-padding" href="{% url 'careers' %}">careers</a>
                        </div>
                    </li>
                    <!--Dropdown for account-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item nav-padding" href="{% url 'profile' %}"><i class="fas fa-user"></i>
                                Profile</a>
                            <a class="dropdown-item nav-padding" href="{% url 'logout' %}"><i
                                    class="fas fa-sign-out-alt"></i> Log Out</a>
                            {% else %}
                            <a class="dropdown-item nav-padding" href="{% url 'register' %}"><i
                                    class="fa fa-user-plus"></i> Register</a>
                            <a class="dropdown-item nav-padding" href="{% url 'login' %}"><i
                                    class="fas fa-sign-in-alt"></i> Log In</a>
                            {% endif %}
                        </div>
                    </li>
                    <!--cart-->
                    <li class="nav-padding">
                        <a class="nav-cart" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i> View Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-success">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <!--Search-->
                <form action="{% url 'search' %}" method="GET" class="form-inline nav-padding my-2 my-lg-0">
                    <input class="form-control search-form-input mr-sm-2" type="text" name="q" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 mx-1 mx-lg-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!--Messages-->
    {% if messages %}
    <div class="container-fluid messages">
        {% for message in messages %}
        {{ message}}
        {% endfor %}
    </div>
    {% endif %}

    <!--Page Content-->
    {% block content %}
    {% endblock %}

    <!--Footer-->
    <footer class="footer-bg py-3">
        <div class="container text-center">
            <p>
                <strong>©opyright Shutter 2020</strong>
            </p>
            <p>this web app was designed and created by
            </p>
            <p>
                <a href="https://github.com/Seabhac-94" target="_blank">zac allen</a>
            </p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% block head_js %}{% endblock %}
</body>

</html>